/* general content*/
body {
    color: #777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    background: url("../images/background.png")
}

#header {
    position: fixed;
    z-index: 99;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    background: #fff;
    border-bottom: solid 2px #ccc;
    height: 80px;
}

a {
    text-decoration: none;
    height: 80px;
}

nav {
    float: right;
    margin-top: 25px;

}

nav a {
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 20px;
    text-decoration: none;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    clear: both;
}

h1 {
    border-bottom: solid 2px #ccc; 
    padding: 10px;
    color: #4aaaa5;
}

#name {
    float: left;
    background-color: #4aaaa5;
    font-size: 30px;
    font-weight: 500;
    line-height: 100px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.main-content {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    background: #fff;
    margin: 0 0 40px;
    border: 1px solid;
}

/* footer */

footer {
    font-size: 15px;
    color: #fff;
    background: #666;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    padding: 30px 0;
    height: 30px;
    clear: both;
}

/* portfolio page */

.myWork {
    position: relative;
    float: left;
    width: 250px;
    margin: 25px 0 25px;
    overflow: auto; 
}

.myWork img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    margin: 15px;
}

.myWork h3 {
    position: absolute;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
    background: #4aaaa5;
    font-size: 15px;
    margin: 15px;
}

/* contact page */

#contact ul {
    margin-bottom: 15px;
}

#contact li {
    margin-bottom: 10px;
}

#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 30px;
    padding: 0 10px;
    border: 2px solid #ddd;
}

textarea {
    height: 250px;
}

input[type=submit] {
    font-size: 10px;
    color: #fff;
    background: #4aaaa5;
    border: 0 none;
    padding: 15px 25px;
}
